<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sample Quilljs Implementation</title>

    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
</head>
<body>
    <style>
        #output{
            padding: 30px;
        }
        #output > p{
            display: block;
            margin: 20px 0;
        }
    </style>

    <!-- Create the editor container -->
    <div id="editor"></div>

    <!-- Rendering Html derived from Delta outputted by Quill -->
    <div id="output"></div>

    <script src="/scripts/main-bundle.js"></script>
</body>
</html>